        .class-button{
            color: rgb(13, 187, 22);
        }

        .add-bag{
            background-color: greenyellow;
            border: none;
            padding: 5px 15px;
            border-radius: 8px;
        }

        .wishlist{
           border: 2px solid black; 
            border-radius: 8px;
            padding: 5px 35px;
        }

        .mv-wishlist{
            padding: 5px 30px;
            border-radius: 5vh;
            

        }